#{extends "main.html" /}
#{set title:"Aspects/Keywords Extraction" /}

#{set "moreStyles"}
	#{press.stylesheet "browserPages.css" /}
	#{press.stylesheet "aspectsBrowserPage.css" /}
#{/set}

#{set "moreScripts"}
	#{script "plupload/plupload.js" /}
	#{script "plupload/plupload.html5.js" /}
	#{script "plupload/plupload.html4.js" /}
	#{script "plupload/jquery.ui.plupload.js" /}
	
	#{press.script "widgets.documentBrowser.js" /}
	#{press.script "widgets.aspectsBrowser.js" /}
	#{press.script "aspectsBrowserPage.html.js" /}

	<script type="text/javascript">
		(function(window, document, $, obome) {
			$(document).ready(function() {
				obome.displayPage({
					collection: $.parseJSON($("<div>").html("${collection}").text())
				});
			});
		})(window, window.document, window.jQuery, window.obome)
	</script>
#{/set}

<div id="content">
	<div class="ui-prominent ui-corner-all ui-distant ui-padded-message">
		Please go through these documents and extract domain aspects and related keywords. Words that are likely to be keywords have been
		highlighted for your convenience. Highlighted words can be dragged and dropped into either of the boxes or clicked to be marked as
		keywords. Please collect as many keywords for your domain aspects as you can (more keywords will yield better opinion mining results)
		and press Next.
	</div>
	<div class="ui-float-left ab-doc-container">
		<div id="documentContainer"></div>
	</div>
	<div class="ui-float-right ab-aspects-container">
		<div id="aspectsContainer"></div>
	</div>
	<div class="ui-helper-clearfix"></div>
	<div class="ui-vertical-space"></div>
	<div class="ui-float-right">
		<div id="btnUpload" class="main-button">Upload</div>
		<div id="btnDownload" class="main-button">Download</div>
		<div id="btnNext" class="main-button">Next</div>
	</div>
</div>