#{extends 'main.html' /}
#{set title:'' /}

#{press.stylesheet 'browserPages.css' /}
#{press.stylesheet 'opinionsBrowserPage.css' /}
#{stylesheet "jqplot/jquery.jqplot.min.css" /}

<div id="content">
	<ul class="ui-sidebyside-controls-list ui-widget">
		<li>
			<div class="ui-widget-header ui-corner-top ol-header"><span>Reviews</span></div>
			<select id="lstReviews" class="ol-list ui-widget-content" size="20">
				%{ index = 0; }%
				#{list items:documents, as:'document'}
					%{ index++; }%
					<option value="${document}">Comment ${index}</option>
				#{/list}
			</select>
		</li>
		<li class="ui-sidebyside-controls-list-item-spaced">
			<div id="documentContainer"></div>
		</li>
		<li class="ui-sidebyside-controls-list-item-spaced">
			<ul class="ui-controls-list">
				<li>
					<div class="ui-widget-header ui-corner-top ol-header"><span>Opinion Summary</span></div>
					<div id="cntnrOpinionSummary" class="ui-widget-content op-summary-box">
						<table id="tblOpinionSummary">
						</table>
					</div>
				</li>
				<li class="ui-controls-list-item-spaced">
					<div class="ui-widget-header ui-corner-top ol-header"><span>Aspect Polarity Association</span></div>
					<div id="cntnrOpinionGraph" class="ui-widget-content op-summary-box">
						<div id="cnvsOpinionGraph">
						</div>
					</div>
				</li>
			</ul>
		</li>
	</ul>
	<div class="ui-helper-clearfix"></div>
</div>

#{script "jqplot/jquery.jqplot.min.js" /} 
#{script "jqplot/plugins/jqplot.barRenderer.min.js" /}
#{script "jqplot/plugins/jqplot.categoryAxisRenderer.min.js" /}
#{script "jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js" /}
#{script "jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js" /}
#{script "jqplot/plugins/jqplot.canvasTextRenderer.min.js" /}

#{press.script "widgets.documentBrowser.js" /}
#{press.script "opinionsBrowserPage.html.js" /}

<script type="text/javascript">
	(function(window, document, $, ontologyLearner, routes) {
		$(document).ready(function() {
			ontologyLearner.displayPage({
				collection: $.parseJSON($("<div>").html("${collection}").text())
			});
		});
	})(window, window.document, window.jQuery, window.ontologyLearner, ontologyLearner.routes)
</script>