#{extends "main.html" /}
#{set title:"Opinions Browser" /}

#{set "moreStyles"}
	#{stylesheet "jqplot/jquery.jqplot.min.css" /}
	
	#{press.stylesheet "browserPages.css" /}
	#{press.stylesheet "opinionsBrowserPage.css" /}
#{/set}

#{set "moreScripts"}
	#{script "jqplot/jquery.jqplot.min.js" /} 
	#{script "jqplot/plugins/jqplot.barRenderer.min.js" /}
	#{script "jqplot/plugins/jqplot.categoryAxisRenderer.min.js" /}
	#{script "jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js" /}
	#{script "jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js" /}
	#{script "jqplot/plugins/jqplot.canvasTextRenderer.min.js" /}
	
	#{press.script "widgets.documentBrowser.js" /}
	#{press.script "obome.parsedDocument.js" /}
	#{press.script "opinionsBrowserPage.html.js" /}

	<script type="text/javascript">
		(function(window, document, $, obome, routes) {
			$(document).ready(function() {
				obome.displayPage({
					collection: $.parseJSON($("<div>").html("${collection}").text())
				});
			});
		})(window, window.document, window.jQuery, window.obome, window.obome.routes)
	</script>
#{/set}

#{set "info"}
	<div>
		<div>
			Now you can view aspect-based polarities of each review/comment from your corpus. The polarities are given on a scale of -1 to +1
			where -1 is the most negative opinion and +1 is the most positive opinion.
		</div>
		<div class="ui-vertical-space"></div>
		<div>
			<div>Words in each review that were used to determine aspect polarity are emphasized according to the following scheme:</div>
			<div class="ob-modified">Keywords</div>
			<div class="ob-modifier">Keyword modifiers</div>
		</div>
	</div>
#{/set}

<div id="content">
	<div class="ui-float-left ob-reviews-container">
		<div class="ob-reviews-list-container ui-float-left">
			<div class="ui-widget-header ui-corner-top ol-header"><span>Reviews</span></div>
			<select id="lstReviews" class="ol-list ui-widget-content ob-reviews-list" size="20">
				%{ index = 0; }%
				#{list items:documents, as:"document"}
					%{ index++; }%
					<option value="${document}">Review ${index}</option>
				#{/list}
			</select>
		</div>
		<div class="ob-doc-container ui-float-right">
			<div id="documentContainer">
				<div class="ui-widget-header ui-corner-top ol-header"><span>Review Text</span></div>
				<div id="documentTextContainer" class="ob-document-text ui-widget-content opinion-dependent">
				</div>
			</div>
		</div>		
	</div>
	<div class="ui-float-right ob-summary-container">
		<div class="ob-summary-inner-container">
			<div class="ob-summary-text-container">
				<div class="ui-widget-header ui-corner-top ol-header"><span>Opinion Summary</span></div>
				<div id="cntnrOpinionSummary" class="ui-widget-content ob-summary-box opinion-dependent">
					<table id="tblOpinionSummary">
					</table>
				</div>
			</div>
			<div class="ob-summary-graph-container">
				<div class="ui-widget-header ui-corner-top ol-header"><span>Aspect Polarity Association</span></div>
				<div id="cntnrOpinionGraph" class="ui-widget-content ob-summary-box opinion-dependent">
					<div id="cnvsOpinionGraph">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>