#{extends 'main.html' /}
#{set title:'' /}

#{press.script src:'jqplot/jquery.jqplot.min.js', compress:false /} 
#{press.script src:'jqplot/plugins/jqplot.canvasTextRenderer.min.js', compress:false /}
#{press.script src:'jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js', compress:false /}
#{press.script src:'jqplot/plugins/jqplot.highlighter.min.js', compress:false /}

#{press.stylesheet 'collectionSynthesizerPage.css' /}
#{press.stylesheet src:'jqplot/jquery.jqplot.min.css', compress:false /}

<div id="content">
	<div id="cntnrProperties">
		<div>
			<label for="txtName">Corpus name:</label>
			<input id="txtName" type="text" />
		</div>
	</div>
	<div id="cntnrProgress">
		<div>Your corpus is being processed. Please wait; this might take several minutes...</div>
		<div id="pbarProgress"></div>
	</div>
	<div id="cntnrDistiller">
		<div id="grphDistillerStats"></div>
		<label for="txtThreshold">Selected threshold:</label>
		<input type="text" id="txtThreshold" /><span>%</span>
	</div>
	<div class="ui-vertical-space"></div>
	<div id="cntnrMessage" class="ui-corner-all ui-float-left"></div>
	<div id="btnNext" class="ui-float-right">Next</div>
</div>

<script type="text/javascript">
	(function(window, document, $, ontologyLearner, routes) {
		$(document).ready(function() {
			
			var propertiesContainer = "#cntnrProperties";
			var nameTextbox = "#txtName";
			var progressContainer = "#cntnrProgress";
			var progressBar = "#pbarProgress";
			var distillerContainer = "#cntnrDistiller";
			var distillerStatsGraphId = "grphDistillerStats"
			var distillerStatsGraph = "#" + distillerStatsGraphId;
			var thresholdTextbox = "#txtThreshold";
			var messageContainer = "#cntnrMessage";
			var nextButton = "#btnNext";
			
			var corpus = $.parseJSON($("<div>").html("${corpus}").text());
			var collection;
			
			function renameCorpus(name) {
				$.post(routes.OpinionCollections.rename({ corpus: corpus.uuid }), { name: name });
			}
			
			$(nameTextbox)
				.val(corpus.name)
				.focusout(function(event) {
					renameCorpus($(event.target).val());
				})
				.keyup(function(event) {
					if (event.keyCode === $.ui.keyCode.ESCAPE) {
						$(event.target).val(corpus.name);
					}
				})
				.keypress(function(event) {
					if (event.which === $.ui.keyCode.ENTER) {
						$(event.target).blur();
					}
				});

			$(nextButton)
				.button({
					disabled: true
				})
				.click(function() {
					$(nextButton).button("disable");
					$(nextButton).spinner();
					
					$.post(routes.OpinionCollections.distill({ collection: collection.uuid }), { threshold: $(thresholdTextbox).val() })
						.success(function(collection) {
							$(messageContainer).spinner("destroy");
							window.location.href = routes.OpinionCollections.aspectsBrowserPage({ collection: collection.uuid });
						});
				});
			
			$(progressBar)
				.progressbar({
					value: 0
				});
			
			$(thresholdTextbox)
				.keypress(function(event) {
					return !window.isNaN(String.fromCharCode(event.which));
				});
			
			$(distillerContainer)
				.hide();
			
			function updateProgress(options) {
				options = $.extend((options || {}), {
					url: routes.OpinionCollections.synthesizerProgress({ corpus: corpus.uuid }),
					startValue: 0.0,
					ratio: 1.0
				});
				
				// Get progress and update.
				$.getJSON(options.url)
					.success(function(progress) {
						var displayableProgress = options.startValue + (progress || 0.0) * options.ratio;
						$(progressBar).progressbar("option", { value: window.Math.round(displayableProgress * 100) });
						
						if (progress < 1.0) {
							window.setTimeout(function() {
								updateProgress(options);
							}, 100);
						}
					});
			}
			
			// Make the call.
			$.post(routes.OpinionCollections.synthesizer({ corpus: corpus.uuid }))
				.success(function(coll) {
					collection = coll;
					
					// Get the threshold map.
					$.get(routes.OpinionCollections.distill({ collection: collection.uuid }))
						.success(function(data) {

							$(progressBar).progressbar("option", { value: 100 });
							$(progressContainer).hide();//"highlight", {}, 1000);

							$(distillerContainer)
								.show();
							
							var plot = $.jqplot(distillerStatsGraphId, [ data ], {
								title: "Select your threshold",
								
								axesDefaults: {
									labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								},
								
								seriesDefaults: {
									rendererOptions: {
										smooth: true
									}
								},
								
								axes: {
									xaxis: {
										label: "Threshold (%)",
										pad: 0,
										tickOptions: {
											formatString: "%2.0f"
										}
									},
									yaxis: {
										label: "Corpus Reduction (%)",
										tickOptions: {
											formatString: "%2.0f"
										}
									}
								},
								
								highlighter: {
									show: true,
									sizeAdjust: 7.5
								},
								cursor: {
									show: false
								}
							});
							
							$(thresholdTextbox).val("0");
							
							$(distillerStatsGraph).bind("jqplotDataClick", function(event, seriesIndex, pointIndex, data) {
								$(thresholdTextbox).val(Math.round(data[0]));
							});
							
							$(nextButton).button("enable");
						});
					
					updateProgress({
						url: routes.OpinionCollections.distillerProgress({ collection: collection.uuid }),
						startValue: 0.75,
						ratio: 0.25
					});
				});
			
			updateProgress({
				ratio: 0.75
			});
		});
	})(window, window.document, window.jQuery, window.ontologyLearner, ontologyLearner.routes)
</script>