#{extends "main.html" /}
#{set title:"" /}

#{press.stylesheet "collectionSynthesizerPage.css" /}
#{press.stylesheet src:"jqplot/jquery.jqplot.min.css", compress:false /}

#{press.script src:"jqplot/jquery.jqplot.min.js", compress:false /} 
#{press.script src:"jqplot/plugins/jqplot.canvasTextRenderer.min.js", compress:false /}
#{press.script src:"jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js", compress:false /}
#{press.script src:"jqplot/plugins/jqplot.highlighter.min.js", compress:false /}

<div id="content">
	<div id="cntnrProperties">
		<div>
			<label for="txtName">Corpus name:</label>
			<input id="txtName" type="text" />
		</div>
	</div>
	<div id="cntnrProgress">
		<div>Your corpus is being processed. Please wait; this might take several minutes...</div>
		<div id="pbarProgress"></div>
	</div>
	<div id="cntnrDistiller">
		<div id="grphDistillerStats"></div>
		<label for="txtThreshold">Selected threshold:</label>
		<input type="text" id="txtThreshold" /><span>%</span>
	</div>
	<div class="ui-vertical-space"></div>
	<div id="cntnrMessage" class="ui-corner-all ui-float-left"></div>
	<div id="btnNext" class="ui-float-right">Next</div>
</div>

#{press.script "synthesizerPage.html.js" /}

<script type="text/javascript">
	(function(window, document, $, ontologyLearner, routes) {
		$(document).ready(function() {
			ontologyLearner.displayPage({
				corpus: $.parseJSON($("<div>").html("${corpus}").text())
			});
		});
	})(window, window.document, window.jQuery, window.ontologyLearner, ontologyLearner.routes)
</script>