#{extends "main.html" /}
#{set title:"Corpus Reducability Analysis" /}

#{set "moreStyles"}
	#{stylesheet "jqplot/jquery.jqplot.min.css" /}
	
	#{press.stylesheet "synthesizerPage.css" /}
#{/set}

#{set "moreScripts"}
	#{script "jqplot/jquery.jqplot.min.js" /} 
	#{script "jqplot/plugins/jqplot.canvasTextRenderer.min.js" /}
	#{script "jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js" /}
	#{script "jqplot/plugins/jqplot.highlighter.min.js" /}
	
	#{press.script "synthesizerPage.html.js" /}
	
	<script type="text/javascript">
		(function(window, document, $, obome, routes) {
			$(document).ready(function() {
				obome.displayPage({
					corpus: $.parseJSON($("<div>").html("${corpus}").text())
				});
			});
		})(window, window.document, window.jQuery, window.obome, window.obome.routes)
	</script>
#{/set}

<div id="content">
	<div id="cntnrProperties">
		<div>
			<label for="txtName">Corpus name:</label>
			<input id="txtName" type="text" />
		</div>
	</div>
	<div id="cntnrProgress" class="ui-distant">
		<div>Your corpus is being processed. Please wait; this might take several minutes depending on the size of the corpus...</div>
		<div id="pbarProgress" class="ui-distant"></div>
	</div>
	<div id="cntnrDistiller" class="ui-distant">
		<div class="ui-prominent ui-corner-all ui-distant ui-padded-message">
			As determined by our algorithm, your corpus will follow the data reduction shown below. Here, you can choose the threshold you
			would like to set. A higher threshold means you will have to extract keywords and aspects from fewer documents while compromising
			a higher percentage of data quality. Please press Next when you're done.
		</div>
		<div id="grphDistillerStats" class="ui-distant"></div>
		<label for="txtThreshold">Selected threshold:</label>
		<input type="text" id="txtThreshold" /><span>%</span>
	</div>
	<div class="ui-vertical-space"></div>
	<div id="cntnrMessage" class="ui-corner-all ui-float-left"></div>
	<div id="btnNext" class="ui-float-right">Next</div>
</div>