.ab-doc-container {
	width: 60%;
}

.ab-aspects-container {
	width: 40%;
}

.ol-document-text {
	height: 30.13em;
	overflow: auto;
	padding: .5em;
}

.ol-unseen-word {
	color: red;
}

.ol-seen-keyword {
}

.ol-seen-word {
	color: darkgray;
}

#content {
}

#documentContainer {
	margin-right: .75em;
}