.ol-header {
	padding: .25em;
}

.ol-list {
	width: 100%;
	height: 31.3em;
	overflow: auto;
}

.ol-counter-textbox {
	width: 2em;
	height: 1em;
	text-align: right;
}

.ol-button {
	height: 2em;
}