.ob-reviews-container {
	width: 65%;
}

.ob-summary-container {
	width: 35%;
}

.ob-reviews-list-container {
	width: 20%;
}

.ob-doc-container {
	width: 80%;
}

.ob-reviews-list {
	height: 31.3em;
}

.ob-document-text {
	height: 30.13em;
	overflow: auto;
	padding: .5em;
}

.ob-summary-inner-container {
	margin-left: .75em;
}

.ob-summary-graph-container {
	margin-top: .5em;
}

.ob-summary-box {
	height: 12.02em;
	font-size: 1.1em;
	padding: .5em;
}

tr.ob-divider > td {
	border-bottom: 1pt solid black;
	padding-top: .5em;
}

tr.ob-overall-rating > td {
	font-style: italic;
	padding-top: .5em;
}

.ob-keyword-display {
	color: red;
}

.ob-modifier-display {
	color: green;
}

.ob-irrelevant-display {
	color: gray;
}

.ob-sentence-polarity {
	color: blue;
}

#documentContainer {
	margin-left: .5em;
}

#tblOpinionSummary {
	border-collapse: collapse;
}

#tblOpinionSummary th {
	text-align: left;
}

#tblOpinionSummary td {
	padding-right: 1.2em;
}

#cnvsOpinionGraph {
	width: 100%;
	height: 100%;
}

#cntnrOpinionSummary {
	overflow-y: auto;
}