#{extends 'main.html' /}
#{set title:'' /}

#{press.stylesheet 'landingPage.css' /}
#{press.stylesheet 'plupload/css/jquery.ui.plupload.css' /}

#{press.script src:'plupload/plupload.js', compress:false /}
#{press.script src:'plupload/plupload.html5.js', compress:false /}
#{press.script src:'plupload/plupload.html4.js', compress:false /}
#{press.script src:'plupload/jquery.ui.plupload.js', compress:false /}

<div id="content">
	<div id="acrdnNav">
		<h3><a href="#">Upload a corpus</a></h3>
 		<div id="acrdnOptUpload">
<!--			<div>You can upload your corpus contained in XML or ZIP files. The ZIP file must contain several XML files.
			Each XML file must be in a format similar to:
				<pre>&lt;root&gt;
	&lt;document&gt;
		some content
	&lt;&#47;document&gt;
	&lt;document&gt;
		some more content
	&lt;&#47;document&gt;
	...
&lt;&#47;root&gt;</pre>
			</div> -->
			<div id="cntnrUploader"></div>
		</div>
		<h3><a href="#">Load an existing corpus</a></h3>
		<div id="acrdnOptLoad">
			<div>
				<label for="lstCollections">Collections:</label>
				<select id="lstCollections">
				</select>
			</div>
			<div id="cntnrCollectionInfo">
			</div>
		</div>
		<h3><a href="#">Retrieve a corpus with a key</a></h3>
		<div id="acrdnOptRetrieve">
			<label for="txtKey">Retrieval Key:</label>
			<input type="text" id="txtKey" class="ol-uuid" />
		</div>
	</div>
	<div class="ui-vertical-space"></div>
	<div id="cntnrMessage" class="ui-corner-all ui-float-left"></div>
	<div id="btnNext" class="ui-float-right">Next</div>
</div>

<script type="text/javascript">
	(function(window, document, $, ontologyLearner, routes) {
		var navigationAccordion = "#acrdnNav";
		var accordionOptionUpload = "#acrdnOptUpload";
		var accordionOptionLoad = "#acrdnOptLoad";
		var accordionOptionRetrieve = "#acrdnOptRetrieve";
		var uploaderContainer = "#cntnrUploader";
		var collectionsList = "#lstCollections";
		var keyTextbox = "#txtKey";
		var collectionInfoContainer = "#cntnrCollectionInfo";
		var messageContainer = "#cntnrMessage";
		var nextButton = "#btnNext";

		$(document).ready(function() {
			
			function accordionChange(ui) {
				$(ui)
					.find(":input:first")
					.focus();
			}
			
			$(navigationAccordion).accordion({
				autoHeight: false,
				change: function(event, ui) {
					accordionChange(ui.newContent);
				}
			});
			
			accordionChange(accordionOptionUpload);
			
			$(uploaderContainer)
				.plupload({
					runtimes: "html5,html4",
					url: routes.OpinionCollections.upload({ corpus: "new" }),
					max_file_size: "100mb",
					max_file_count: 20,
					chunk_size: "1mb",
					unique_names : true,
					multiple_queues : true,

					// Rename files by clicking on their titles.
					rename: true,
					
					// Sort files.
					sortable: true,

					// Specify what files to browse for.
					filters: [
						{title: "XML files", extensions: "xml"},
						{title: "Zip files", extensions: "zip"},
						{title: "Text files", extensions: "txt,csv"}
					],
					headers: {}
				});
			
			var uploader = $(uploaderContainer).plupload("getUploader");
			uploader.bind("FileUploaded", function(uploader, file, response) {
				response = window.JSON.parse(response.response);
				uploader.settings.url = routes.OpinionCollections.upload({ corpus: response.uuid });
				$(uploaderContainer).data("corpus", response);
			});
			
			$(nextButton)
				.button({ })
				.click(function() {
					$(nextButton).button("disable");
					$(nextButton).spinner();
					
					var active = $(navigationAccordion).accordion("option", "active");
					if (active === 0) {
						// Upload.
						function redirectToSynthesizer() {
							var corpus = $(uploaderContainer).data("corpus");
							if (corpus) {
								window.location.href = routes.OpinionCollections.synthesizerPage({ corpus: corpus.uuid });
							}
						}
						
				        // Files in queue upload them first.
				        if (uploader.files.length > 0) {
				            // When all files are uploaded submit form.
				            uploader.bind("StateChanged", function() {
				                if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
				                	redirectToSynthesizer();
				                }
				            });
				                
				            uploader.start();
				        } else {
				            alert("You must upload at least one file.");
				            $(nextButton).button("enable");
				            $(nextButton).spinner("destroy");
				        }
					} else if (active === 1) {
						// Load.
						window.location.href = routes.OpinionCollections.aspectBrowserPage({ collection: $(collectionsList).val() });
					} else if (active === 2) {
						// Retrieve.
						$.getJSON(routes.OpinionCollections.single({ collection: $(keyTextbox).val() }))
							.success(function(collection) {
								window.location.href = routes.OpinionCollections.aspectBrowserPage({ collection: collection.uuid });
							})
							.error(function() {
								$(messageContainer)
									.addClass("ui-state-error")
									.text("Key is not valid")
									.show();
								
								$(nextButton).button("enable");
							});
					}
				});
			
			// Get all collections.
			$(accordionOptionLoad).spinner();
			$.getJSON(routes.OpinionCollections.list())
				.success(function(collections) {
					$(accordionOptionLoad).spinner("destroy");
					
					// Display collections in the list.
					$(collectionsList)
						.empty()
						.change(function(event) {
							var collection = $(event.target)
								.find(":selected")
								.data("value");
							$(collectionInfoContainer)
								.empty()
								.append($("<div>").text("Corpus: " + collection.corpusName))
								.append($("<div>").text("Corpus size: " + collection.corpusSize))
								.append($("<div>").text("Collection size: " + collection.size))
								.append($("<div>").text("Error tolerance: " + collection.errorTolerance));
						});
					$.each(collections, function(index,collection) {
						$(collectionsList)
							.append($("<option>")
								.text(collection.name)
								.val(collection.uuid)
								.data("value", collection));
					});
			
					$(collectionsList).change();
				});
		});
	})(window, window.document, window.jQuery, window.ontologyLearner, ontologyLearner.routes)
</script>