.ui-document-text {
	width: 500px;
	height: 300px;
	overflow: auto;
}

.wordList {
	width: 150px;
	height: 100%;
}

.ui-spinner {
	width: 36px;
	height: 36px;
	background-image: url(/public/images/spinner.gif);
}