#{extends 'main.html' /}
#{set title:'Ontology Learner' /}

<h2>Ontology Learner</h2>

<div id="mainContainer" class="ui-widget">
	<ul class="ui-sidebyside-controls-list">
		<li>
			<ul class="ui-sidebyside-controls-list">
				<li><div id="documentContainer"></div></li>
				<li><div class="ui-sidebyside-controls-list-item-spaced" id="aspectsContainer"></div></li>
			</ul>
		</li>
		<li class="ui-sidebyside-controls-list-item-spaced">
			<div>
				<div id="btnOptions"></div>
				<h3>Usage:</h3>
				<ul id="usageList">
					<li>Suggested features are highlighted.</li>
					<li>Click to add a suggested feature as a keyword.</li>
					<li>Suggested features can also be dragged on to one of the lists.</li>
					<li>Double click an item in either lists to edit.</li>
				</ul>
			</div>
		</li>
	</ul>
	
	<div id="optionsDialogContainer" class="ui-helper-hidden" title="Options">
		<form id="frmOptions">
			<fieldset>
			<ul class="ui-controls-list">
				<li>
					<label for="lstCollections">Collections:</label>
					<select id="lstCollections">
					</select>
				</li>
				<li>
					<input id="chkBypassCache" type="checkbox" />
					<label for="chkBypassCache">Always bypass cache</label>
				</li>
				<li>
					<input id="chkSmartNouns" type="checkbox" />
					<label for="chkSmartNouns">Use smart nouns</label>
				</li>
			</ul>
			</fieldset>
		</form>
	</div>
</div>

#{press.script "widgets.documentBrowser.js" /}
#{press.script "widgets.aspectsBrowser.js" /}

<script type="text/javascript">
	(function(window, document, $, ontologyLearner, routes) {
		$(document).ready(function() {
			var optionsButton = "#btnOptions";
			var docContainer = "#documentContainer";
			var aspectsContainer = "#aspectsContainer";
			
			var optionsDialogContainer = "#optionsDialogContainer";
			var optionsForm = "#frmOptions";
			var collectionsList = "#lstCollections";
			var bypassCacheCheckbox = "#chkBypassCache";
			var smartNounsCheckbox = "#chkSmartNouns";
			
			// Basic feature types enum.
			var featureTypes = {
				nouns: "nouns",
				smartNouns: "smart_nouns"
			};
			
			// Standard options.
			var options = {
				bypassCache: false,
				featureType: featureTypes.nouns,
				collection: null
			};

			// Function to apply options.
			var applyOptions = function() {
				function getAllNewOptions() {
					return {
						bypassCache: !!$(bypassCacheCheckbox).attr("selected"),
						featureType: !!$(smartNounsCheckbox).attr("selected") ? featureTypes.smartNouns : featureTypes.nouns,
						collection: $(collectionsList).find(":selected:first").data("value")
					};
				}

				// First time operations.
				options = getAllNewOptions();
				$(docContainer)
					.documentBrowser($.extend(options, {
						header: "Review",
						featureClick: function(event, data) {
							$(aspectsContainer).aspectsBrowser("addKeyword", data);
						}					
					}));
				
				$(aspectsContainer)
					.aspectsBrowser(options);

				// Change the function so we modify options instead of creating new widgets.
				applyOptions = function() {
					// Get all changed options.
					function modifyOptions() {
						var newOptions = getAllNewOptions();
						
						var modifiedOptions = {};
						$.each(newOptions, function(key, value) {
							if ((value.uuid && value.uuid !== options[key].uuid) || (!value.uuid && value !== options[key])) {
								modifiedOptions[key] = value;
							}
						});
						
						options = newOptions;
						return modifiedOptions;
					}

					// Apply options.
					var modifiedOptions = modifyOptions();
					$(docContainer).documentBrowser("option", modifiedOptions);
					$(aspectsContainer).aspectsBrowser("option", modifiedOptions);
				};
			};
			
			// Create the options dialog.
			$(optionsDialogContainer).dialog({
				autoOpen: true,
				modal: true,
				buttons: {
					Ok: function() {
						applyOptions();
						$(optionsDialogContainer).dialog("close");
					},
					Cancel: function() {
						$(optionsDialogContainer).dialog("close");
					}
				},
				resizable: false,
				closeOnEscape: true,
				beforeClose: function(event, ui) {
					return !!options.collection;
				},
				open: function() {
					$(optionsDialogContainer).parent().find("button:first + button:first").button("option", "disabled", !options.collection);
					
					window.setTimeout(function() {
						$(optionsDialogContainer).spinner();
						
						// Get all collections.
						$.getJSON(routes.OpinionCollections.list())
							.success(function(collections) {
								$(optionsDialogContainer).spinner("destroy");
								
								// Display collections in the list.
								$(collectionsList).empty();
								$.each(collections, function(index,collection) {
									var selected = (index === 0) || (options.collection && options.collection.uuid === collection.uuid);
									$(collectionsList)
										.append($("<option>")
											.text(collection.name)
											.val(collection.uuid)
											.data("value", collection)
											.attr("selected", selected));
								});
								
								// The option value is not being used right now, might be useful later.
								$(collectionsList)
									.data("option", "collection");
								$(bypassCacheCheckbox)
									.attr("checked", options.bypassCache)
									.data("option", "bypassCache");
								$(smartNounsCheckbox)
									.attr("checked", options.featureType === featureTypes.smartNouns)
									.data("option", "smartNouns");
							});
					}, 0);
				}
			});
			
			// Create the options button.
			$(optionsButton)
				.addClass("ol-button")
				.addClass("ol-options-button")
				.button({
					text: false,
					icons: {
						primary: "ui-icon-wrench"
					}
				})
				.click(function() {
					$(optionsDialogContainer).dialog("open");
				});
		});
	})(window, window.document, window.jQuery, window.ontologyLearner, ontologyLearner.routes)
</script>