#{extends 'main.html' /}
#{set title:'Home' /}

<h2>Ontology Creation by Active Learning</h2>

<div id="mainContainer">
	<table id="containerTable">
<!--		<tr>
			<td class="columnLabel">Review:</td>
			<td class="columnLabel">Aspects:</td>
			<td class="columnLabel">Keywords:</td>
		</tr> -->
		<tr>
			<td>
				<div id="documentContainer"></div>
			</td>
			<td>
				<div id="aspectsContainer"></div>
			</td>
		</tr>
	</table>
</div>

#{script "widgets.documents.js" /}
#{script "OntologyLearner.Aspects.js" /}

<script type="text/javascript">
	(function(window, document, $, ontologyLearner) {
		$(document).ready(function() {
			$("#documentContainer").documentDisplay({
				header: "Review:"
			});
		});
		
//		OntologyLearner.Document.initialize();
//		OntologyLearner.Aspects.initialize();
	})(window, window.document, window.jQuery, window.ontologyLearner)
</script>