#{extends 'main.html' /}
#{set title:'Home' /}

<h2>Ontology Creation by Active Learning</h2>

<div id="mainContainer">
	<ul class="ui-sidebyside-controls-list">
		<li><div id="documentContainer"></div></li>
		<li><div id="aspectsContainer"></div></li>
	</ul>
</div>

#{script "widgets.documents.js" /}
#{script "widgets.aspectsBrowser.js" /}

<script type="text/javascript">
	(function(window, document, $, ontologyLearner) {
		$(document).ready(function() {
			$("#documentContainer").documentDisplay({
				header: "Review:"
			});
			
			$("#aspectsContainer")
				.aspectsBrowser({
				})
				.position({
					my: "left top",
					at: "right top",
					of: $("#documentContainer"),
					offset: "10 0",
					collision: "none"
				});
		});
		
//		OntologyLearner.Aspects.initialize();
	})(window, window.document, window.jQuery, window.ontologyLearner)
</script>