#{extends 'main.html' /}
#{set title:'' /}

#{press.stylesheet 'landingPage.css' /}

<div id="content">
	<div id="optionsDialogContainer" class="ui-helper-hidden" title="Options">
		<form id="frmOptions">
			<fieldset>
			<ul class="ui-controls-list">
				<li>
					<label for="lstCollections">Collections:</label>
					<select id="lstCollections">
					</select>
				</li>
				<li>
					<input id="chkBypassCache" type="checkbox" />
					<label for="chkBypassCache">Always bypass cache</label>
				</li>
				<li>
					<input id="chkSmartNouns" type="checkbox" />
					<label for="chkSmartNouns">Use smart nouns</label>
				</li>
			</ul>
			</fieldset>
		</form>
	</div>
</div>

<script type="text/javascript">
	(function(window, document, $, ontologyLearner, routes) {
		$(document).ready(function() {
			var optionsButton = "#btnOptions";
			var docContainer = "#documentContainer";
			var aspectsContainer = "#aspectsContainer";
			
			var optionsDialogContainer = "#optionsDialogContainer";
			var optionsForm = "#frmOptions";
			var collectionsList = "#lstCollections";
			var bypassCacheCheckbox = "#chkBypassCache";
			var smartNounsCheckbox = "#chkSmartNouns";
			
			// Basic feature types enum.
			var featureTypes = {
				nouns: "nouns",
				smartNouns: "smart_nouns"
			};
			
			// Standard options.
			var options = {
				bypassCache: false,
				featureType: featureTypes.nouns,
				collection: null
			};

			// Function to apply options.
			function applyOptions() {
				options = {
					bypassCache: !!$(bypassCacheCheckbox).attr("selected"),
					featureType: !!$(smartNounsCheckbox).attr("selected") ? featureTypes.smartNouns : featureTypes.nouns,
					collection: $(collectionsList).find(":selected:first").data("value").uuid
				};
			}
			
			// Create the options dialog.
			$(optionsDialogContainer).dialog({
				autoOpen: true,
				modal: true,
				buttons: {
					Continue: function() {
						applyOptions();
						var url = routes.OpinionCollections.browserPage(options);
						var params = $.extend({ }, options);
						delete params.collection;
						url = url + "?" + $.param(params);
						window.location.href = url;
					}
				},
				resizable: false,
				draggable: false,
				beforeClose: function(event, ui) {
					return !!options.collection;
				},
				open: function() {
					$(optionsDialogContainer).parent().find("button:first + button:first").button("option", "disabled", !options.collection);
					
					window.setTimeout(function() {
						$(optionsDialogContainer).spinner();
						
						// Get all collections.
						$.getJSON(routes.OpinionCollections.list())
							.success(function(collections) {
								$(optionsDialogContainer).spinner("destroy");
								
								// Display collections in the list.
								$(collectionsList).empty();
								$.each(collections, function(index,collection) {
									var selected = (index === 0) || (options.collection && options.collection.uuid === collection.uuid);
									$(collectionsList)
										.append($("<option>")
											.text(collection.name)
											.val(collection.uuid)
											.data("value", collection)
											.attr("selected", selected));
								});
								
								// The option value is not being used right now, might be useful later.
								$(collectionsList)
									.data("option", "collection");
								$(bypassCacheCheckbox)
									.attr("checked", options.bypassCache)
									.data("option", "bypassCache");
								$(smartNounsCheckbox)
									.attr("checked", options.featureType === featureTypes.smartNouns)
									.data("option", "smartNouns");
							});
					}, 0);
				}
			});
		});
	})(window, window.document, window.jQuery, window.ontologyLearner, ontologyLearner.routes)
</script>