<!DOCTYPE html>

<html>
    <head>
        <title>OBOME</title>
        <meta charset="${_response_encoding}">
        #{stylesheet "ui-lightness/jquery-ui-1.8.16.css" /}
        #{press.stylesheet "main.css" /}
        #{get "moreStyles" /}
        #{press.compressed-stylesheet /}
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="spinner image" type="image/gif" href="@{'/public/images/spinner.gif'}">
        
		#{script "jquery-1.7.1.min.js" /}
		#{script "jquery-ui-1.8.16.min.js" /}
		#{press.script "ontologyLearner.js" /}
		#{press.script "ontologyLearner.Util.js" /}
		#{press.script src:"ontologyLearner.routes.js", render:true /}
		#{press.script "widgets.spinner.js" /}
        #{get "moreScripts" /}
        #{press.compressed-script /}
        
        <script type="text/javascript">
        	(function(window, document, $, routes) {
        		var pingInterval = 60000;
        		
        		$(document).ready(function() {
        			function pingDelayed() {
        				window.setTimeout(ping, pingInterval);
        			}
        			
        			function ping() {
        				$.post(routes.Application.Session.ping())
        					.success(pingDelayed);
        			}
        			
        			pingDelayed();
        		});
        	})(window, window.document, window.jQuery, window.ontologyLearner.routes);
		</script>
    </head>
    <body>
    	<div id="wrapper" class="ui-widget">
    		<div id="banner">
    			<div id="banner-links-container">
    				#{a @Application.aboutPage()}About#{/a}
    				<a href="mailto:obome@sabanciuniv.edu" target="_blank">Contact</a>
    			</div>
    			<div id="banner-home-link">
    				#{a @Application.landingPage()}Ontology-Based Opinion Mining Engine#{/a}
    			</div>
    			<div class="ui-subtitle">#{get 'title' /}</div>
	    		<div id="banner-bottom" class="ui-vertical-space">
	    		</div>
    		</div>
    		<div id="content-wrapper">
        		#{doLayout /}
        	</div>
        	<div id="footer">
        	</div>
        </div>
    </body>
</html>
