<!DOCTYPE html>

<html>
    <head>
        <title>SARE</title>
        <meta charset="${_response_encoding}">
        #{stylesheet "jquery/ui-lightness/jquery-ui-1.8.21.css" /}
        #{press.stylesheet "main.css" /}
        
        #{press.compressed-stylesheet /}
        
        #{get "moreStyles" /}
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="spinner image" type="image/gif" href="@{'/public/images/ajax-loader.gif'}">
        
		#{script "jquery/jquery-1.7.2.min.js" /}
		#{script "jquery/ui/jquery-ui-1.8.21.min.js" /}
		
		#{press.script "obome.js" /}
		#{press.script "obome.Utils.js" /}
		#{press.script src:"obome.routes.js", render:true /}
		#{press.script "widgets.spinner.js" /}
		#{press.script "widgets.infoPopup.js" /}
		#{press.script "main.html.js" /}
		
		#{press.compressed-script /}
		
        #{get "moreScripts" /}
        
        <script type="text/javascript">
        	(function(window, document, $) {
        		$(document).ready(function() {
        			obome.displayMainPage({
        				pingInterval: 60000 * 5,
        				infoContainer: ".ui-info"
        			});
        		});
        	})(window, window.document, window.jQuery);
		</script>
    </head>
    <body>
    	<div id="wrapper" class="ui-widget">
    		<div id="banner">
    			<div id="banner-links-container">
    				<a href="@{'/public/videos/sare-demo.wmv'}" target="_blank">Demo Video</a>
    				<a href="https://github.com/musabhusaini/obome.git" target="_blank">Source</a>
    				#{a @Pages.show("about")}About#{/a}
    				<a href="mailto:obome@sabanciuniv.edu" target="_blank">Contact</a>
    			</div>
    			<div id="banner-home-link">
    				#{a @Application.landingPage()}SARE: A Sentiment Analysis Research Environment#{/a}
    			</div>
    			<div class="ui-info ui-float-right" title="More Information">#{get "info" /}</div>
    			<div class="ui-subtitle">#{get "title" /}</div>
    		</div>
    		<div id="content-wrapper">
        		#{doLayout /}
        	</div>
        	<div class="ui-helper-clearfix"></div>
        	<div id="footer">
        	</div>
        </div>
    </body>
</html>
