<!DOCTYPE html>

<html>
    <head>
        <title>OBOME</title>
        <meta charset="${_response_encoding}">
        #{stylesheet "ui-lightness/jquery-ui-1.8.16.css" /}
        #{press.stylesheet "main.css" /}
        #{get "moreStyles" /}
        #{press.compressed-stylesheet /}
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="spinner image" type="image/gif" href="@{'/public/images/spinner.gif'}">
        
		#{script "jquery-1.7.1.min.js" /}
		#{script "jquery-ui-1.8.16.min.js" /}
		
		#{press.script "obome.js" /}
		#{press.script "obome.Utils.js" /}
		#{press.script src:"obome.routes.js", render:true /}
		#{press.script "widgets.spinner.js" /}
		#{press.script "main.html.js" /}
		
        #{get "moreScripts" /}
        #{press.compressed-script /}
        
        <script type="text/javascript">
        	(function(window, document, $) {
        		$(document).ready(function() {
        			obome.displayMainPage({
        				pingInterval: 60000 * 5
        			});
        		});
        	})(window, window.document, window.jQuery);
		</script>
    </head>
    <body>
    	<div id="wrapper" class="ui-widget">
    		<div id="banner">
    			<div id="banner-links-container">
    				#{a @Application.aboutPage()}About#{/a}
    				<a href="mailto:obome@sabanciuniv.edu" target="_blank">Contact</a>
    			</div>
    			<div id="banner-home-link">
    				#{a @Application.landingPage()}Ontology-Based Opinion Mining Engine#{/a}
    			</div>
    			<div class="ui-subtitle">#{get 'title' /}</div>
    		</div>
    		<div id="content-wrapper">
        		#{doLayout /}
        	</div>
        	<div class="ui-helper-clearfix"></div>
        	<div id="footer">
        	</div>
        </div>
    </body>
</html>
